In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
import pandas as pd
import numpy as np
import os
import json
from datetime import datetime




#############Load config.json and get input and output paths
with open('config.json','r') as f:
    config = json.load(f) 

input_folder_path = config['input_folder_path']
output_folder_path = config['output_folder_path']
ingested_data_file = config['ingested_data_file']
ingested_files = config['ingested_files']

In [25]:
#############Function for data ingestion
def merge_multiple_dataframe(input_folder_path, output_folder_path):  
    df_list = []
    for file in os.listdir(input_folder_path):
        filepath = input_folder_path + '/' + file
        temp_df = pd.read_csv(filepath)
        df_list.append(temp_df)  
        dateTimeObj=datetime.now()
        thetimenow=str(dateTimeObj.year)+ '/'+str(dateTimeObj.month)+ '/'+str(dateTimeObj.day)
        allrecords=[input_folder_path,file,len(temp_df),thetimenow]
        with open(ingested_files,'a') as MyFile:
            for element in allrecords:
                MyFile.write(str(element) + " ")
            MyFile.write('\n')
    df = pd.concat(df_list, axis=0, ignore_index=True).drop_duplicates()
    df.to_csv(output_folder_path + '/' + ingested_data_file, index=False)
merge_multiple_dataframe(input_folder_path, output_folder_path)

In [4]:
os.listdir(input_folder_path)

['dataset4.csv', 'dataset3.csv']

In [26]:
dataset_csv_path = os.path.join(config['output_folder_path'], config['ingested_data_file'])
model_path = os.path.join(config['output_model_path'])
df = pd.read_csv(dataset_csv_path)
df.head()

,corporation,lastmonth_activity,lastyear_activity,number_of_employees,exited
0,abcd,99,871,3,0
1,asdf,1243,0,10,0
2,xyzz,0,25,11,1
3,acme,813,129,9,1
4,qwer,2989,9982,90,0

In [27]:
df.exited.unique()

array([0, 1])